/* reset */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
body {
  background-color: #f3f3f3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* common css */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: white;
}
.main-nav {
}

.nav-item {
  padding: 12px 24px;
  display: inline-block;
  text-transform: uppercase;
}
.nav-item:hover {
  background-color: white;
  color: #333;
}

/* Band section  */
.band-text {
  text-align: justify;
}

.band-cards {
  display: flex;
  align-items: flex-start;
}

.band-cards figcaption {
  text-align: center;
  margin-bottom: 25px;
}
