* {
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
}

.container {
  padding: 10px;
  border: 1px solid #000;
}

.box {
  padding: 10px;
  margin: 10px;
  background-color: rgb(255, 160, 144);
}

.box {
  /* inline block */
  display: inline-block;
  max-width: 30%;
  min-height: 215px;
  vertical-align: top;
}

.box-1 {
  max-width: 49%;
}
.box-2 {
  max-width: 49%;
}
.box-3 {
  max-width: initial;
}
